services:
  - type: web
    name: smartsched-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: starter
    region: oregon
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: SPRING_DATA_MONGODB_URI
        sync: false
      - key: SPRING_DATA_MONGODB_DATABASE
        value: smartsched_db
      - key: JWT_SECRET
        sync: false
      - key: CORS_ALLOWED_ORIGINS
        sync: false

